@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #faeeff;
  font-family: "Quicksand";
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  line-height: 1.5;
  padding-top: 60px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #faeeff;
  z-index: 100;
}

.nav-container {
  display: flex;
  max-width: 80ch;
  margin: 0 auto;
}

nav.scrolled {
  background-color: rgba(218, 194, 218, 0.2);
  backdrop-filter: blur(10px);
}

/* nav styles */
@media screen and (max-width: 636px) {
  .hamburger {
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #f0a2f3;
  }

  .nav-links {
    width: 100px;
    position: absolute;
    top: 5rem;
    left: 48px;
    background-color: rgba(102, 97, 102, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.nav-links a:hover,
.nav-links a:focus {
  color: #f0a2f3;
}

.nav-links a:active {
  color: #ade2ec;
}

.expanded {
  display: none;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    margin-left: 10em;
    width: 100%;
    max-width: 80ch;
  }

  .nav-links a {
    position: static;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .hamburger {
    display: none;
  }
}

/* dark theme */
html.dark {
  background-color: #21212b;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #f0a2f3;
}

.dark .nav-links a:active {
  color: #ade2ec;
}

.dark nav {
  background-color: #21212b;
}

.dark nav.scrolled {
  background-color: rgba(218, 194, 218, 0.2);
  backdrop-filter: blur(10px);
}
