@import "@fontsource-variable/quicksand";
@import "@fontsource/londrina-outline";

html,
body {
  overflow-x: clip;
  min-height: 100vh;
}

html {
  background-color: #faeeff;
  font-family: 'Quicksand Variable', sans-serif;
  scrollbar-color: #9475c5 #faeeff;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 140ch;
  padding: 0 1rem;
  margin: 0 auto;
  line-height: 1.5;
}

main {
  flex: 1;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 2rem;
  min-height: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #ffffff;
  background-color: #a06db6;
}

.books ::selection {
  color: #ffffff;
  background-color: #b6996d;
}

a {
  color: #494950
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #faeeff;
  z-index: 100;
}

.nav-container {
  display: flex;
  max-width: 80ch;
  margin: 0 auto;
  height: 58px;
  position: relative;
}

nav.scrolled {
  background-color: rgba(218, 194, 218, 0.2);
  backdrop-filter: blur(10px);
}

.nav-links a:hover,
.nav-links a:focus {
  color: #ade2ec;
}

.nav-links a.active::after {
  content: '';
  height: 4px;
  background: #ade2ec;
  border-radius: 5px;
  display: block
}

/* icon button */
.icon-button {
  all: unset;
  width: 40px;
  margin: 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  .icon-button:hover {
    background-color: #e3bdec;
  }
}

.icon-button:active {
  background-color: #e3bdec;
}

/* nav styles */
/* mobile view */
.hamburger:hover {
  background-color: #e3bdec;
}

.books .hamburger:hover {
  background-color: #b17f59;
}

.nav-links {
  display: none;
  position: absolute;
  width: 100px;
  top: 4rem;
  left: 40px;
  background-color: #a5a2a2;
  border-radius: 10px;
  border-color: #363333;
  border-style: solid;
  border-width: 2px;
  min-width: unset;
}

.dark .nav-links {
  background-color: #2c2c2c;
}

.books .nav-links {
  background-color: #bb834a;
  border-color: #6b4226;
}

.books.dark .nav-links {
  background-color: #4d3729;
  border-color: #bb834a;
}

.dark .nav-links a {
  color: #fff;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a.active::after {
  margin: 0 auto;
  width: 80%;
}

.nav-links.expanded {
  display: block;
}

/* desktop view */
@media screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: block;
    position: unset;
    top: auto;
    left: auto;
    margin-left: 10em;
    width: 100%;
    max-width: 80ch;
    min-width: 80ch;
    background-color: transparent;
    border: none;
  }

  .dark .nav-links {
    background-color: unset;
  }

  .books .nav-links {
    background-color: transparent;
  }

  .books.dark .nav-links {
    background-color: transparent;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
  }

  .nav-links a.active::after {
    margin: unset;
    width: auto;
  }
}

/* dark theme */
.dark {
  background-color: #21212b;
  color: #fff;
  scrollbar-color: #9475c5 #21212b;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #ade2ec;
}

.dark nav {
  background-color: #21212b;
}

.dark nav.scrolled {
  background-color: rgba(218, 194, 218, 0.2);
  backdrop-filter: blur(10px);
}

/* books light */
.books {
  background-color: #f8e6c8;
  scrollbar-color: #6b4226 #f8e6c8;
}

.books nav {
  background-color: #f8e6c8;
}

.books .nav-links a {
  color: #6b4226;
}

.books .nav-links a:hover,
.books .nav-links a:focus {
  color: #ade2ec;
}

.books nav.scrolled {
  background-color: #dac2da33;
  backdrop-filter: blur(10px);
}

/* books dark */
.dark.books {
  background-color: #6b4226;
  scrollbar-color: #f8e6c8 #6b4226;
}

.dark.books nav {
  background-color: #6b4226;
}

.dark.books .nav-links a {
  color: #c98e5f;
}

.dark.books .nav-links a:hover,
.dark.books .nav-links a:focus {
  color: #ade2ec;
}

.dark.books nav.scrolled {
  background-color: rgba(218, 194, 218, 0.2);
  backdrop-filter: blur(10px);
}